#myDIV {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {border: 15px solid lightblue;}
}

/* Standard syntax */
@keyframes mymove {
    50% {border: 15px solid lightblue;}
}
